<!DOCTYPE html>
<html lang="en">
<head>
    <!--Just trying to put comments here-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jstellar Tech Inventory</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Jstellar Tech - Inventory System</h1>
        <p>Manage your computer and networking hardware</p>
    </header>
    <main>
        <button id="addBtn">+ Add New Item</button>
        <table>
            <thead>
                <tr>
                    <th>Item ID</th>
                    <th>Item Name</th>
                    <th>Category</th>
                    <th>Stock Level</th>
                    <th>Actions</th></th>
                </tr>
            </thead>
            <tbody id="inventoryBody">
                <!-- Jinja Loop to generate rows from the database -->
                {%for item in items%}
                <tr>
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.category}}</td>
                    <td>{{item.stock}}</td>
                    <td><button onclick="deleteItem({{ item.id }})">Delete</button></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </main>
    <script src="/static/script.js"></script>
</body>
</html>